<%= form_for @pin do |f| %>

	<div class="row">
		<label for="pin_title">Title:</label>
		<%= f.text_field :title %>
	</div>

	<div class="row">
		<label for="pin_url">Website:</label>
		<%= f.text_field :url %>
	</div>

	<div class="row">
		<label for="pin_slug">Slug:</label>
		<%= f.text_field :slug %>
	</div>

	<div class="row">
		<label for="pin_text">Text:</label>
		<%= f.text_field :text %>
	</div>

	<div class="row">
		<label for="pin_category_id">Category:</label>
		<%= f.collection_select(:category_id, Category.all, :id, :name) %>
	</div>

	<div class="form-group">
  		<label for="pin_image">Image</label>
  		<%= f.file_field :image  %>
	</div>
	
	<div>
	<%= f.button(options = {class: "btn btn-default"}) %>
 	</div>

<% end %>